{{define "comment"}}
	<h5>{{.AuthorName}}</h5>
	<p>{{.Content}}</p>
	<p>Likes: {{.Likes}} | Dislikes: {{.Dislikes}}</p>
	{{if .IsAuthenticated}}
		<form method="POST" action="/comment-reaction">
			<input type="hidden" name="comment_id" value="{{.ID}}">
			<input type="hidden" name="reaction_type" value="like">
			<button type="submit">Like</button>
		</form>

		<form method="POST" action="/comment-reaction">
			<input type="hidden" name="comment_id" value="{{.ID}}">
			<input type="hidden" name="reaction_type" value="dislike">
			<button type="submit">Dislike</button>
		</form>
	{{end}}
	{{if .CanDelete}}
		<form method="POST" action="/delete-comment">
			<input type="hidden" name="comment_id" value="{{.ID}}">
			<button type="submit">Delete comment</button>
		</form>
	{{end}}
{{end}}
